.clearfix {
    display: inline-block;
}
.clearfix:after {
    display: block;
    content: ".";
    height: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
}
.header {
    width: 100%;
    height: 50px;
    background: #363C40;
    color: #fff;
}
.header .logo {
    float: left;
    background: #2A2F32;
}
.header .logo a {
    display: block;
    width: 180px;
    height: 50px;
}
.header .logo a img {
    display: block;
    width: 100px;
    margin: 0 auto;
    padding-top: 7px;
}
.header .title {
    float: left;
}
.header .title h1 {
    display: block;
    line-height: 50px;
    font-size: 18px;
    margin-left: 20px;
}
.header .user {
    float: right;
    width: 285px;
    height: 50px;
    border-left: 1px solid #2A2F32;
}
.header .user .notice {
    float: left;
    width: 90px;
    height: 50px;
}
.header .user .notice .bell-box {
    display: block;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 0;
    background: #363C40;
    color: #fff;
    font-size: 12px;
}
.header .user .notice .bell-box .num {
    background: #E99323;
    border-radius: 2px;
    padding: 0 3px;
}
.header .user .welcome {
    float: left;
    width: 195px;
    height: 50px;
    background: #2A2F32;
}
.header .user .welcome .el-dropdown {
    width: 100%;
}
.header .user .welcome .el-dropdown .el-dropdown-link {
    display: block;
    line-height: 50px;
    font-size: 14px;
    text-align: center;
    color: #fff;
}
.header .user .welcome .el-dropdown .el-dropdown-link i {
    font-size: 12px;
    margin-left: 5px;
}
.nav {
    display: flex;
    position: absolute;
    top: 50px;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}
.nav .nav-list {
    flex: 0 0 180px;
    width: 180px;
    background: #323644;
    transition: all 0.2s;
}
.nav .nav-list .layout-header {
    text-align: center;
    background: #4a5064;
    overflow: hidden;
}
.nav .nav-list .layout-header > i {
    display: block;
    margin: 10px auto;
    color: #aeb9c2;
    cursor: pointer;
    font-size: 12px !important;
    -ms-transform: rotate(90deg);
    transform: rotatez(90deg);
}
.nav .nav-list .layout-header > i:hover {
    color: #ffffff;
}
.nav .nav-list .el-menu > a {
    display: block;
}
.nav .nav-list .layout-text-block {
    margin-left: 10px;
}
.el-menu-item.el-tooltip.item.home{
    background: #42485a;
    color: #fff;
    padding: 0 !important;
}
.el-menu-item.el-tooltip.item.home .layout-text-block{
    margin-left: 2px;
}
.el-menu-item.el-tooltip.item.home i{
    margin-left: 16px;
}
.layout-hide-text .el-menu-item.el-tooltip.item.home i{
    margin-left: 0;
}
.el-menu-item.el-tooltip.item.home:hover{
    background: #00a2ff;
}
.nav .nav-list .el-submenu__icon-arrow {
    left: 23px;
    right: auto;
    font-size: 12px !important;
    -ms-transform: rotate(0deg);
    transform: rotatez(0deg);
}
.nav .nav-list .el-submenu.is-opened > .el-submenu__title .el-submenu__icon-arrow {
    -ms-transform: rotate(90deg);
    transform: rotatez(90deg);
}
.nav .nav-list .el-menu-item {
    background: #323644;
    color: #8C92A2;
    height: 40px;
    line-height: 40px;
    padding: 0 25px !important;
}
.nav .nav-list .el-menu-item i {
    display: inline-block;
    font-size: 16px;
    width: 18px;
    text-align: center;
}
.nav .nav-list .el-submenu__title {
    background: #42485a;
    color: #ffffff;
    height: 34px;
}
.nav .nav-list .el-submenu__title span {
    line-height: 34px;
    vertical-align: top;
}
.nav .nav-list .is-active {
    background: #00a2ff !important;
    color: #ffffff !important;
}
.nav .nav-list .el-submenu__title:hover {
    background: #00a2ff !important;
}
.nav .nav-list .el-icon-arrow-down:before {
    content: "\E604";
}
.nav #nav-content {
    flex: 1;
    background: #fff;
    width: 100%;
}
.nav #nav-content .nav-wrapper {
    min-height: 100%;
    width: 100%;
}
.nav #nav-content .nav-wrapper .nav-main {
    padding-bottom: 40px;
    width: 100%;
}
.nav #nav-content .nav-footer {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 40px;
    margin-top: -40px;
    border-top: 1px solid #b4b6bc;
}
.nav #nav-content .nav-footer p {
    line-height: 34px;
    text-align: center;
    font-size: 12px;
    color: #b4b6bc;
}
.nav .layout-text {
    display: inline-block;
    margin-left: 20px;
}
.nav .layout-hide-text {
    flex: 0 0 50px;
    width: 50px;
}
.nav .layout-hide-text .icon-rotate {
    -ms-transform: rotate(0deg) !important;
    transform: rotatez(0deg) !important;
}
.nav .layout-hide-text .el-icon-message {
    display: inline-block;
    font-size: 16px;
    margin-right: 0;
}
.nav .layout-hide-text .layout-text {
    display: none;
}
.nav .layout-hide-text .layout-text-block {
    display: none;
}
.nav .layout-hide-text .el-menu-item {
    padding: 0 !important;
    text-align: center;
    height: 40px;
    line-height: 40px;
}
.el-dropdown-menu {
    width: 193px;
    text-align: center;
    margin: 0;
    margin-right: -5px;
    font-size: 14px;
}
.el-popover[x-placement^=bottom] {
    margin-top: 0;
    padding: 0;
}
.el-popover[x-placement^=bottom] .notice-list .notice-list-header {
    background: #EAEDF2;
    line-height: 40px;
}
.el-popover[x-placement^=bottom] .notice-list .notice-list-header span {
    margin: 0 10px;
}
.el-popover[x-placement^=bottom] .notice-list .notice-list-body li {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
    box-sizing: border-box;
}
.el-popover[x-placement^=bottom] .notice-list .notice-list-body li a {
    display: block;
    font-size: 12px;
    line-height: 24px;
    color: #29B0FD;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.el-popover[x-placement^=bottom] .notice-list .notice-list-footer {
    font-size: 12px;
    line-height: 40px;
    text-align: center;
}
.el-popover[x-placement^=bottom] .notice-list .notice-list-footer a {
    color: #1974D0;
}
.el-tooltip__popper {
    border-radius: 0;
}
.el-tooltip__popper .popper__arrow {
    top: 12px !important;
}
/*iframe*/
#my-iframe{
    width: 100%;
    height: 850px;
    overflow: hidden;
}
